:root {
    --vermelho: #E50914;
    --preto: #141414;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*elementos base*/

body {
    background: var(--preto);
    color: white;

    font-family: 'Times New Roman', Times, serif;
}
header{
    position: absolute;
    z-index: 1;

    width: 100%;

    background-image: linear-gradient(to bottom,rgba(0,0,0,.7) 10%,rgba(0,0,0,0));;
}

header .container {
    display: flex;
    align-items: center; /*alinhamento na vertical*/

    padding: 23px 54px;
}

header img {
    cursor: pointer;

    height: 25px;
}

header nav {
    padding-left: 50px;
}

header nav a  {
    text-decoration: none;
    color: #FFFFFF;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 15px;
    
    padding-right: 18px;

    transition: 0.5s;
}

header nav a:hover {
    color: #AAA;
}

/*Filme principal*/

.filme-principal {
    position: absolute;
    top: 0;
    z-index: 0;

    width: 100%;
    height: 600px;

    /*flex*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start; /*joga para a esquerda*/
    /*****/

    font-size: 16px;

    background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)100%), url('../img/house-of-cards.jpg');
    background-size: cover;
    
}

.filme-principal .descricao {
    margin-bottom: 40px;
}

.titulo {
    font-size: 40px;
}