:root {
    --vermelho: #E50914;
    --preto: #141414;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*elementos base*/

body {
    background: var(--preto);
    color: white;

    font-family: 'Times New Roman', Times, serif;
}
header{
    position: absolute;
    z-index: 1;

    width: 100%;
    padding: 23px 0px;

    background-image: linear-gradient(to bottom,rgba(0,0,0,.7) 10%,rgba(0,0,0,0));;
}

header .container {
    display: flex;
    align-items: center; /*alinhamento na vertical*/
}

header img {
    cursor: pointer;

    height: 25px;
}

header nav {
    padding-left: 50px;
}

header nav a  {
    text-decoration: none;
    color: #FFFFFF;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 15px;
    
    padding-right: 18px;

    transition: 0.5s;
}

header nav a:hover {
    color: #AAA;
}

/*Filme principal*/

.filme-principal {
    position: relative;
    top: 0;
    z-index: 0;

    width: 100%;
    height: 650px;

    /*flex*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start; /*joga para a esquerda*/
    /*****/

    font-size: 16px;

    background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)100%), url('../img/house-of-cards.jpg');
    background-size: cover;
    
}

.filme-principal .descricao {
    margin-top: 10px;
    margin-bottom: 40px;
}

.titulo {
    margin-top: 15%;
    font-size: 40px;
    font-family: 'trebuchet MS', Arial, sans-serif;
}

/*botão*/

.botao {
    cursor: pointer;

    background-color: rgba(0,0,0,.50);
    border:none;
    color: white;

    padding: 15px 30px;
    border-radius: 4px;

    font-size: 12px;

    transition: 0.5s ease-in;
}

.botao:nth-child(1){
    margin-right: 15px;
}

.botao:hover {
    background-color: white;
    color: black;
}

.botao i {
    margin-right: 8px; 
}

/******/

.container {
    margin: 0px 54px;
}

.filme-principal .container {
    width: 60%;
}

/*imgs*/

.carrosel-filmes{
    margin-top: -25px;
}

.carrosel-filmes-2 {
    margin-top: 30px;
}

.box-filme{
    height: 100%;
    display: block;
    border-radius: 8px;
}